.detailsBox {
  display: flex;
  flex-direction: column;
  gap: 68px;
  text-align: start;
}

.title {
  display: flex;
  align-items: baseline;
  font-weight: 600;
  line-height: 1.33333;
  margin-bottom: 8px;
}

.titleSpan {
  font-weight: 500;
  font-size: 16px;
  color: var(--gray);
  margin-left: 16px;
  max-width: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.subtitleBox {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.locationBox {
  display: flex;
  gap: 2px;
}

.detailsSvg {
  width: 16px;
  height: 16px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--button);
  margin-bottom: 32px;
}

.listsInfo {
  height: 772px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listItem {
  display: flex;
  gap: 8px;
  align-items: center;
}
