.hero {
  background-image: url('../../assets/backgrounds/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 436px 328px 60px;
  color: var(--white);
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  margin-bottom: 40px;
}

.heroBtn {
  color: var(--white);
  border-radius: 12px;
  padding: 12px 88px;
  background-color: var(--button);
  font-weight: 600;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heroBtn:hover {
  background-color: var(--button-hover);
}
