.wrapper {
  display: flex;
  gap: 72px;
  padding: 84px 120px 124px;
}

.formBox {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 640px;
  flex-shrink: 0;
}

.carImg {
  border-radius: 19px;
  height: 512px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 30px 75px 40px;
    gap: 20px;
  }

  .formBox {
    width: 320px;
    gap: 34px;
  }

  .carImg {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 15px 24px 25px;
    flex-direction: column-reverse;
    gap: 34px;
  }

  .formBox {
    width: 272px;
    gap: 20px;
  }
}
