#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  #root {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  #root {
    max-width: 320px;
  }
}
